*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: bisque;
    padding: 16px;
    font-family: 'Verdana',  Geneva, Verdana, sans-serif;
   text-align: center;
    
}
.drawing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 90vh;
}
.draw-board{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(50,10px);
    gap: 0;
}

.box {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}